.hide-for-cast  #data_util_frame {
	display: none;
}

.row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .column {
	float: left;
 	width: 33.33%;
  }
  
.scenario_author {
	color:DodgerBlue;
	font-weight:bold;
	font-size:100%;
}
.scenario_time {
	color:DodgerBlue;
	font-weight:bold;
	font-size:100%;
}

