.hide-for-cast  #data_util_frame {
	display: none;
}

.row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .column {
	float: left;
 	width: 33.33%;
  }
  
.ping_lock_icon {
	height: 20px;
	position: absolute;
	left: 100px;
	bottom: 1px;
}

