.scenario_bar_control {
		min-width: 480px;
		border-image: url('coui://ui/main/game/live_game/img/players_list_panel/img_player_bar.png') 60 51 0 25;
		border-width: 60px 51px 0px 25px;
		border-image-outset: 0 0 0 15px;
		position: relative;
		margin: -15px 0px 0px 0px;
		pointer-events: none;
}

.scenario_bar_control_cont {
		height: 30px;
		margin: -45px 0px 0px -14px;
		text-align: right;
		pointer-events: all;
		display: flex;
		justify-content: space-between;
		align-content: stretch;
}

.scenario_info {
		color: #00b3ff;
		min-width: 230px;
		margin: 1px 0px 0px -8px;
		text-align: left;
		border: 1px solid transparent;
		box-shadow: 0px 0px 30px rgba(0,0,0,.3);
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
}

.scenario_info_cont {
		padding: 6px 12px 0px 3px;
		color: #00b3ff;
		font-weight: bold;
}

.scenario_bar {
		max-width: 454px;
		border-image: url('coui://ui/main/game/live_game/img/status_bar/img-menu-bground-left.png') 17 47 47 17 fill;
		border-width: 17px 47px 47px 17px;
		margin: -22px 38px 9px -7px;
}

.scenario_bar_cont {
		margin: -7px -26px -28px 0;
}

#objectivesList {
		padding: 0;
		margin: 0;
}

.objective {
		list-style: none;
		margin: 24px 0;
}

.description_and_progress {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
}

.objective_progress__current,
.objective_progress__syntax {
		font-size: 1.3em;
}

.objective_progress__syntax {
		color: #D1D1D1;
}

.objective_progress__needed {
		color: #00b3ff;
		font-size: .8em;
		font-weight: bold;
}

.objective_progress_bar {
		height: 4px;
		background: #333;
		margin: 6px 0 8px 0;
		border: 1px solid #D1D1D1;
}

.objective_progress_bar > * {
		height: 100%;
		background-color: #00b3ff;
		box-shadow: 0px 0px 12px #00bfff;
}

.objective_result_cont {
		color: #00b3ff;
}

.objective_result {
		font-weight: bold;
}

.scenario_time {
		display: flex;
		color: #00b3ff;
		font-weight: bold;
		margin: 8px 16px -8px 0;
}

.scenario_time > *:last-child {
		text-align: right;
		margin-left: auto;
}

.scenario_bar .time {
		display: inline-block;
		text-align: left;
		min-width: 55px;
}

.scenario_bar_panel + .div_spectator_panel,
.scenario_bar_panel + .div_player_list_panel {
		min-height: 100px; /* Don't clip player names on hover */
		display: inline-block; /* Don't go full width */
		margin-top: -16px; /* Move up to touch scenario_bar_panel */
		-webkit-clip-path: polygon(
				0 29px,
				100% 29px,
				100% 100%,
				0 100%
		);
}
